.container-dashboard {
    width: 95%;
    margin-left: 2.5%;
}

.container-dashboard:hover {
    cursor: pointer;
    background-color: #f8f9fa;
}

.page-title {
    color: rgb(5, 74, 105);
    font-size: 18px;
    font-weight: 800;
}

h2 {
    font-size: 24px;
    margin-bottom: 5px;
    color: white;
    background-color: rgb(5, 74, 105);
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}


.content-intro:hover {
    background-color: #f8f9fa;
    cursor: pointer;
}

.image {
    text-align: center;
}


.title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
    color: #0C9A9A;
    text-align: center;
}

.priceSize {
    font-size: 30px;
    font-weight: bold;
    color: #0C9A9A;
}

.login-btn {
    margin-right: 8px;
    margin-bottom: 12px;
}

.login-container {
    justify-content: end;
}

.landing-slider {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.landing-desc {
    margin-left: 10%;
    padding: 5%;
}

.title-bottom {
    font-size: 20px;
    font-weight: bold;
    margin-top: 55px;
    color: #0C9A9A;
}

.img-icon {
    max-width: 200px;
    max-height: 180px;
    text-align: center;
}

.img-filter-icon {
    width: 300px;
    height: 250px;
}

.feature-group p {
    font-size: 14px;
    font-weight: 600;
    color: #84849A !important;
    transition: background-color 0.3s ease;
}

.header-about {
    font-size: 40px;
    font-weight: 700;
    color: rgb(5, 74, 105);
    text-align: center;
    margin-top: 50px;
    position: relative;
    transition: background-color 0.3s ease;
}

.header-about:hover {
    background-color: #f8f9fa;
    cursor: pointer;
}

@media screen and (min-width: 760px) {
    .small-size {
        display: none;
    }

    .content-intro {
        font-size: 19px;
        font-weight: 600;
        text-align: center;
        align-items: center;
        margin-left: 150px;
        margin-right: 150px;
        color: #84849A !important;
        transition: background-color 0.3s ease;
    }
}

@media screen and (max-width: 760px) {
    .large-size {
        display: none;
    }

    .small-size {
        font-size: 14px;
        font-weight: 600;
        color: #84849A !important;
        transition: background-color 0.3s ease;
    }

    .content-intro {
        font-size: 15px;
        font-weight: 600;
        margin-left: 10px;
        margin-right: 10px;
        color: #84849A !important;
        transition: background-color 0.3s ease;
    }
}
