<div>
    <div style="display: inline-flex;">
        <span class="pi pi-home" routerLink=""
              style="color: rgb(5,74,105);font-size: 18px;font-weight: 700;  cursor: pointer;"></span>
    </div>
    <span class="page-title font-medium ml-2">/ ABOUT </span>
</div>
<p-card>
    <div class="container-dashboard">
        <div class="col-12">
            <h2>SatNOGS DB</h2>
            <br>
            <div class="content-intro">
                <p>SatNOGS DB is an effort to create an hollistic, unified, global database for all
                    artificial objects in space (satellites and spacecrafts). You can view and export the data,
                    contribute to it, or even connect your application using our API. It's part of the
                    <a href="https://satnogs.org/" target="_blank">SatNOGS project.</a></p>
            </div>
        </div>
        <hr>
        <div>
            <div class="col-12 align-items-center">
                <div class="text-center m-t-30 m-b-40">
                    <h2 class="top-title">
                        Our Highlights & Contributions
                    </h2>
                </div>
            </div>
            <div class="feature-group col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-4" style="display: inline-flex;">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="col-12" style="text-align: center;">
                        <img alt="category" class="img-icon" src="assets/satnogs-assets/rapor%20(1).jpg">
                    </div>
                    <div class="col-12">
                        <h3 class="title"> Data</h3>
                        <p>The DB is open to everyone. Anyone is able to submit suggestions or use the existing
                            Transmitters.
                            All data are public and freely distributed under the
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">Commons
                                Atribution-Share Alike v4.0</a> license.
                            Detailed description on our API and usage can be found in <a
                                    href="https://wiki.satnogs.org/SatNOGS_DB/API" target="_blank">our wiki.</a>
                        </p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="col-12" style="text-align: center;">
                        <img alt="category" class="img-icon" src="assets/satnogs-assets/rapor%20(1).jpg">
                    </div>
                    <div class="col-12">
                        <h3 class="title">Creators</h3>
                        <p>SatNOGS DB is developed, hosted and maintained by
                            <a href="https://libre.space/" target="_blank">Libre Space Foundation</a>,
                            abiding to the
                            <a href="https://manifesto.libre.space/en/" target="_blank">Libre Space Manifesto</a></p>
                    </div>
                </div>
                <div class="large-size col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="col-12" style="text-align: center;">
                        <img alt="category" class="img-icon" src="assets/satnogs-assets/rapor%20(1).jpg">
                    </div>
                    <div class="col-12">
                        <h3 class="title">Code Contribution</h3>
                        <p>Fluent in Python and/or JS? We need you to help with satnogs-db web application.
                            Take a look to our
                            <a href="https://gitlab.com/librespacefoundation/satnogs/satnogs-db" target="_blank">source
                                code</a> or visit our
                            <a href="https://gitlab.com/librespacefoundation/satnogs/satnogs-db/-/issues"
                               target="_blank">issues tracker</a> to start filling bugs,
                            feature requests or code fixes for existing ones. Detailed contribution and development
                            documentation is also availble at
                            <a href="https://docs.satnogs.org/projects/satnogs-db/en/stable/" target="_blank">docs.satnogs.org.</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="small-size col-lg-12 col-md-6 col-sm-6">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="col-lg-3 col-md-3 col-sm-3" style="text-align: center;">
                        <img alt="category" class="img-icon" src="assets/satnogs-assets/rapor%20(1).jpg">
                    </div>
                    <div class="col-lg-9 col-md-6 col-sm-6">
                        <h3 class="title">Code Contribution</h3>
                        <p>Fluent in Python and/or JS? We need you to help with satnogs-db web application.
                            Take a look to our source code or visit our issues tracker to start filling bugs,
                            feature requests or code fixes for existing ones. Detailed contribution and development
                            documentation is also availble at docs.satnogs.org.</p>
                    </div>
                </div>
            </div>
            <div class="feature-group col-lg-12 col-md-6 col-sm-6">
                <div class="col-lg-9 col-md-6 col-sm-6">
                    <h3 class="title">Data Contribution</h3>
                    <p>DB is a collaborative crowd-sourced project and needs your help! Every piece of information
                        in our DB has been contributed by volunteers editing, suggesting, reviewing and analyzing
                        information
                        about artificial objects in space.To contibute information data about satellites and spacecrafts
                        please see our
                        <a href="https://wiki.satnogs.org/SatNOGS_DB#Contribute" target="_blank">contribution guide on
                            our wiki.</a>
                        If your are a mission owner/builder/operator please contribute your mission information
                        <a href="https://wiki.satnogs.org/Satellite_Operator_Guide" target="_blank">following these
                            steps.</a>
                        To contribute demodulated data and other valuable information in an automated way, consider
                        joining the
                        <a href="https://network.satnogs.org/" target="_blank">SatNOGS Network</a> and host a station.
                        You can get started with
                        <a href="https://wiki.satnogs.org/Get_Started" target="_blank">this guide on our wiki.</a></p>
                </div>
            </div>
            <br><br>
            <br><br>
        </div>
        <hr>
    </div>
</p-card>

