<p-toolbar class="col-12" styleClass="mb-4 toolbar-container">
    <ng-template pTemplate="left">
        <div style="display: inline-flex;">
            <span class="pi pi-home" routerLink=""
                  style="color: rgb(5,74,105);font-size: 18px;font-weight: 700; cursor: pointer;"></span>
        </div>
        <span class="page-title font-medium ml-2">/ {{ satelliteData?.name }} ({{ satelliteData?.norad }}) </span>
    </ng-template>

    <ng-template class=" col-xl-9 col-lg-9 col-md-12 col-sm-12 mb-4" pTemplate="right">
        <button (click)="selectedButton = 0" [ngClass]="{'selected-button': selectedButton === 0}" [routerLink]="['/satellite', satelliteData?.identifier]" class="p-button mr-2" icon="pi pi-info-circle"
                label="Info"
                pButton
                pRipple
                style="max-width: 100px; background-color: #d3c291; color: rgb(5,74,105); border-radius: 5px;">
        </button>
        <button (click)="selectedButton = 1" [ngClass]="{'selected-button': selectedButton === 1}" [routerLink]="['/satellite', satelliteData?.identifier, 'mapContent']" class="p-button mr-2" icon="pi pi-map-marker"
                label="Map"
                pButton
                pRipple
                style="max-width: 100px; background-color: #d3c291; color: rgb(5,74,105); border-radius: 5px;">
        </button>
        <button (click)="selectedButton = 2;" [ngClass]="{'selected-button': selectedButton === 2}" [routerLink]="['/satellite', satelliteData?.identifier, 'transmitters']" class="p-button mr-2" icon="pi pi-wifi"
                label="Transmitters"
                pButton
                pRipple
                style="max-width: 130px; background-color: #d3c291; color: rgb(5,74,105); border-radius: 5px;">
        </button>
        <button (click)="selectedButton = 3;" [ngClass]="{'selected-button': selectedButton === 3}" [routerLink]="['/satellite', satelliteData?.identifier, 'data']" class="p-button mr-2" icon="pi pi-database"
                label="Data"
                pButton
                pRipple
                style="max-width: 100px; background-color: #d3c291; color: rgb(5,74,105); border-radius: 5px;">
        </button>
    </ng-template>
</p-toolbar>
<div class="container-dashboard">
    <div class="col-12">
        <h2>{{ satelliteData?.name }} ({{ satelliteData?.norad }})</h2>
    </div>
    <div style="text-align: center">
        <div class="feature-group col-lg-12 col-md-6 col-sm-6" style="display: inline-flex;">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="col-12">
                    <h3 class="title"> Most Recent Observers (last 24h)</h3>
                    <p-card>
                        <p>No observations recorded for TROPICS-05 in the last 24h</p>
                    </p-card>
                </div>
                <div class="col-12">
                    <h3 class="title"> No Decoders Found</h3>
                    <p-card>
                        <p>Help us develop a decoder, you can find instructions at this wiki link</p>
                    </p-card>
                </div>
                <div class="col-12">
                    <h3 class="title"> Data Frames Decoded - 30 Days</h3>
                    <p-card>
                        <p>There is no decoded data for this satellite in the last 30 days.</p>
                    </p-card>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="col-12" style="    margin-top: 2rem;">
                    <h3 class="title">Orbital Elements</h3>
                    <table class="vertical-table">
                        <tbody>
                        <tr>
                            <td class="name">Latest Two-Line Element (TLE)</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="identifier">TLE Source</td>
                            <td>Space-Track.org</td>
                        </tr>
                        <tr>
                            <td class="norad">TLE Updated</td>
                            <td>2024-02-05 19:24:56 UTC</td>
                        </tr>
                        <tr>
                            <td class="altNames">TLE Set</td>
                            <td>1 56442U 23062A 24036.53470806 .00012431 00000-0 68041-3 0 9995 <br>
                                <p></p>
                                2 56442 32.7338 219.4634 0009429 313.9763 46.0130 15.13184348 41348
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
